<% unless comment.archived? %>
  <p>
    <strong>User Email: </strong>
    <%= comment.user.email %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.description %>
  </p>
      <% if user_signed_in? && current_user.id == comment.user.id  %>      
          <td><%= button_to "Destroy", comment_path(comment),
            method: :delete, data: { turbo_confirm: "Are you sure?" },
            class: "btn btn-danger" %></td>
      <%end%>
      <br>
<%end%>
