<% unless comment.archived? %>

<p>
  <strong>User Email:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.description %>
</p>
<% if user_signed_in? %>

<p>
    <%= link_to "Destroy Comment", comment_path(comment), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<%end%>
  <%end%>
