<div class="s" >
<%= search_form_for(@query, url: search_path, method: :get, class:'d-flex') do |f| %>
  <%= f.search_field :title_or_description_cont_any,
   placeholder: "Search...",
   class: "searchBar" %>
  <%= f.submit "Search!", class:"btnSearch" %>
<% end %>
</div>