<section>
  <div class="container">
    <div class="section">
      <div class="left-text">
        <div class="vpn">
          <h1 class="h1-eng">eCommerce Website <br> on Rails</h1>
        </div>
        <div class="exc">Exclusive offer: Get 3 extra months DISCOUNT</div>
        <div>
          <%= link_to 'Sign Up' , new_user_registration_path, class:"btn1"%>
        </div>
        <div class="money-back">30-DAY MONEY-BACK GUARANTEE</div>
      </div>
      <div class="right-img">
        <%= image_tag "2.png" , class:"hero-img" %>
      </div>
    </div>
</section>