<div class="about" style="margin-top: 10rem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h1>About Us</h1>
      </div>

      <div class="col-md-10 mx-auto ">
        <p>An 'About Us' page is a spot for your founding story, a place to show off your business wins, and a sales
          page that answers the most pressing question new customers have about your business.

          What an 'About Us' page should be is a goal-oriented sales page, one that focuses on highlighting the biggest
          selling points of your story and brand at the top of the page, making a strong first impression on curious
          customers

          In Shopify’s customer trust research, we found that shoppers navigate to an About Us page to learn more about
          the brand and the people behind the products. Your 'About Page' should address those two curiosities shoppers
          have to help with decision making.

          Shoppers are also interested in a company’s mission. They’ll use the About Us page to determine if they share
          core values with the business and to decide if they want to shop with the business or not.

          In contrast to a landing page, your About Us page is the ideal place to accommodate a number of objectives:

          Communicate the story of your business and why you started it.
          Describe the customers or the cause that your business serves.
          Explain your business model or how your products are made.
          Put a face to your business, featuring the founders or the people on your team.
          Incorporate persuasive content (e.g., an explainer video, data visualizations, links to blog posts) that might
          otherwise clutter your homepage.
          Your 'About Us' page is going to be about you, but that doesn’t mean you can’t borrow some ideas from others,
          especially when it comes to structure and design.

          The following are examples of different ways you can tackle your About Us page design.</p>
      </div>
    </div>


    <div class="container-fluid cards">
      <div class="row">
        <div class="card col-md-2 mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Our Leadership</h5>
            <p class="card-text">Our Leadership Principles are more than inspirational wall hangings. The 16 principles
              guide our discussions and decisions every day.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
         <div class="card col-md-2 mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Our Leadership</h5>
            <p class="card-text">Our Leadership Principles are more than inspirational wall hangings. The 16 principles
              guide our discussions and decisions every day.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
         <div class="card col-md-2 mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Our Leadership</h5>
            <p class="card-text">Our Leadership Principles are more than inspirational wall hangings. The 16 principles
              guide our discussions and decisions every day.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
         <div class="card col-md-2 mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Our Leadership</h5>
            <p class="card-text">Our Leadership Principles are more than inspirational wall hangings. The 16 principles
              guide our discussions and decisions every day.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="warehouse">
    <h2 class="ware-title">Our Warehouse</h2>
    <%= image_tag "1.jpeg" , class:"img1" %>
      <h5 class="ware-text">We engage with policymakers on a wide range of issues that are important to our customers and
        employees. Learn more about our views on current policy issues.We engage with policymakers on a wide range of issues that are important to our customers and
        employees. Learn more about our views on current policy issues.We engage with policymakers on a wide range of issues that are important to our customers and
        employees. Learn more about our views on current policy issues.We engage with policymakers on a wide range of issues that are important to our customers and
        employees. Learn more about our views on current policy issues.
      </h5>
  </div>





