<div class="p">
<h1>Cart Page</h1>


<table>
    <thead>
        <tr>
            <th>title: </th>
            <th>Discription: </th>
            <th>Price: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% @cart_items.each do |cart_item| %>
                <td><%= cart_item.name %></td>
                <td><%= cart_item.body %></td>
                
            <% end %>
        </tr>
    </tbody>
</table>
</div>