.about {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img1 {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.card-title {
  padding-bottom: 1rem;
}

.card-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.ware-title {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.ware-text {
  text-align: center;
  padding-top: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 767px) {
  .about {
    width: 90%;
  }

  .img1 {
    width: 80%;
  }

  .ware-text {
    width: 80%;
  }

  .ware-title {
    font-size: 2rem;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about {
    width: 70%;
  }

  .img1 {
    width: 70%;
  }

  .ware-text {
    width: 70%;
  }
}
