.fPass{
    position: relative;
    background-color: white;
    width:100%; margin:0 auto;
    height: 100%;
}
.Card{
    width:200px;
    height:200px;
    padding-top: 5rem;
    position: fixed;
    background-color: blue;
    top: 50%;
    left: 50%;
    /* margin-top: -80px; */
    margin-left: -10%;
}