<div class="p">
<h1>Brand Page</h1>


<table>
    <thead>
        <tr>
            <th>title: </th>
            <th>Discription: </th>
            <th>Price: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% @brands.each do |brand| %>
                <td><%= brand.name %></td>
                <td><%= brand.body %></td>
                
            <% end %>
        </tr>
    </tbody>
</table>
</div>