<div class="p">
<h1>Category Page</h1>
<%= link_to "create new", new_category_path, class: "btn btn-primary mb-4" %>

<table class="table table-striped table-bordered table-hover"> 
<thead > 
<tr class="table-dark">
 
  <th scope="col">Name :</th>
  <th scope="col">Body :</th>
  
</tr>
</thead>

<tbody>
<% @categories.each do |category| %>

  <tr>

  <td><%=category.name%></td>
  <td><%=category.body%></td>

  </tr>
    <%end%>


</tbody>
</table>




</div>
