<div class="p">
  <h2>Category</h2>
  <table class="table table-striped table-bordered table-hover"> 
    <thead > 
      <tr class="table-dark">
        <th scope="col">Name: <%= @category.name%></th>
        <th scope="col">Body: <%= @category.body%></th>
        <th scope="col"><%= link_to "Edit", edit_category_path(@category), class: "btn btn-warning container" %></th>
<th><%= link_to "Destroy", category_path(@category), class: "btn btn-danger container", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></th>
      </tr>
    </thead>
  </table>
</div>