<div class="p">

<h2>Category</h2>

<table class="table table-striped table-bordered table-hover"> 
<thead > 
<tr class="table-dark">
 
  <th scope="col">Name : <%= @category.name%></th>
  <th scope="col">Body : <%= @category.body%></th>
  
</tr>
</thead>
</table>


</div>